
<div class="container">
    <div class="row" id="section1">
            
                <div>   
                    <h1>GIT SEARCH APPLICATION</h1>    
                    <app-git-search-form (emitUsers)="myName($event)"></app-git-search-form>
                        <div *ngFor='let theUser of theUsers'>
                            <p>Name: {{theUser.name}}<br>GitHub name: {{theUser.login}}</p>
                                <img id="im" src="{{theUser.avatar_url}}" alt=""><br>
                            <p>Bio: {{theUser.Bio}}</p><br>
                            <p>Public repositories {{theUser.public_repos}}</p>
                        </div>

        </div>

    

</div>
</div>
<br>
<div class="container">
    <div class="row">
            <h2 class="text-center">Public repositories</h2>
            <input type="text" class="form-control" name="" placeholder="Search through repos" id="repoSearch"><br>
                <div class="card-columns container-fluid">
                    <div *ngFor='let theRepository of theRepositories'>
                        <div *ngFor='let rep of theRepository' id="repo" class="card">
                            <h4 class="card-header">{{rep.name}}</h4>
                            <p class="card-body">Description: {{rep.description}}<br>Forks: {{rep.forks}}<i><br>Language:
                                    {{rep.language}}</i></p>
                            <a class="card-footer" href="{{rep.html_url}}"><button class="btn btn-outline-primary">View project on
                                    github</button></a>
    </div>

</div>