<div class="col">
    <div class="input-group mb-3">
       
      <input type="text" class="form-control bg-transparent col-sm-6 offset-3" placeholder="Search here" value="reset" id ="" aria-label="user" aria-describedby="basic-addon2" name="userName" [(ngModel)]="userName" #userName='ngModel' required>
      <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
        <p>User Name is required</p>
      </div>
      <div class="input-group-append">
        <button class="btn btn-outline-success" type ="button"(click)="user()"   ng-click="">Search</button>
      </div>
    </div>
  </div>


  